@inject IStringLocalizer<SharedResources> localizer

@{
    Layout = null;
    var lotieLink = "https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js";
    ViewData["MainTitle"] = localizer["Robot Documentation"];
}

<html lang="en" data-bs-theme="light" data-layout-mode="fluid" data-menu-color="gradient" data-topbar-color="brand" data-layout-position="fixed" data-sidenav-size="default" data-lt-installed="true">
<head>
    <meta charset="utf-8" />
    <title>500 - Internal server error  | @ViewData["MainTitle"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="MNLeistung.de" name="author" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/fac">

    <!-- Thirdparty css -->
    <link rel="stylesheet" href="~/css/thirdparty.bundle.css" id="app-style" asp-append-version="true" />
</head>

<body class="authentication-bg-img" data-sidebar-size="default" data-layout-width="fluid" data-layout-menu-position="fixed" data-sidebar-color="light" data-topbar-color="dark" style="visibility: visible; opacity: 1;">
    <div class="bg-overlay"></div>

    <div class="mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <script src="@lotieLink"></script>
                    <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_gs9xrxtb.json" background="transparent" speed="0.5" style="height: 75vh;" loop autoplay></lottie-player>
                    <div class="auth-logo d-none">
                        <a href="index.html" class="logo logo-dark text-center">
                            <span class="logo-lg">
                                <img src="~/CodeFox4/images/logo-dark.png" alt="" height="22">
                            </span>
                        </a>

                        <a href="index.html" class="logo logo-light text-center">
                            <span class="logo-lg">
                                <img src="~/CodeFox4/images/logo-light.png" alt="" height="22">
                            </span>
                        </a>
                    </div>

                    <div class="text-center mt-4 d-none">
                        <img src="~/CodeFox4/images/icons/globe.svg" alt="globe.svg" height="60">
                        <h1 class="display-3 fw-semibold mt-4">500</h1>
                        <p class="text-muted mt-4">Why not try refreshing your page? or you can contact <a href="#" class="text-primary">ME</a></p>

                        <a href="index.html" class="btn btn-primary waves-effect waves-light mt-3">Return Home</a>
                    </div>
                </div>
            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
    </div>
    <!-- end page -->

    <footer class="footer footer-alt">
        <script>document.write(new Date().getFullYear())</script> &copy; Robot Documentation Powered by <a href="https://mnleistung.de" class="link-dark text-decoration-underline"> MNLeistung.de</a>
    </footer>

    <!-- Thirdparty js -->
    <script src="~/js/site.thirdparty.bundle.js" asp-append-version="true"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>